
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Msg</title>
</head>
<body>
    <script type="text/javascript">
        top.EasyuiPublic.createMsg('@ViewData["msg"]');
    </script>
</body>
</html>
