
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test</title>
</head>
<body>
    <div> 
        <iframe  src="/Login/Login" width="600" height="800"   ></iframe>
    </div>
</body>
</html>
