<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NormalEntity" connectionString="data source=(localdb)\v11.0;initial catalog=CSFramework3.Normal;integrated security=True;persist security info=True;user id=sa;password=Eric2000;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>